@media only screen and (min-width : 480px) and (max-width : 720px) {
  /* card begin */

  .card-front {
    margin-top: 175px;
  }

  .card-back {
    margin-left: 45px;
    margin-top: -392px;
    width: 320px;
    height: 198px;
  }

  .card__submit-button {
    margin-top: 185px;
  }
  /* card end */

}
