@media only screen and (min-width : 320px) and (max-width : 720px) {
  .container {
    width: 98%;
    margin: 0 auto;
  }

  /* content begin*/
  .content {
    width: 100%;
  }
  /* content end */
}
