@media only screen and (min-width : 320px) and (max-width : 1000px) {
  /* navigation begin */
  .navigation {
    width: 100%;
    .navigation__item {
      display: none;
    }
    .navigation__item_state_active {
      display: inline-block;
    }
    .navigation__menu-btn {
      display: inline-block;
    }
    .navigation__list-show {
      .navigation__item_action_exit {
        border-bottom: 1px solid #2a2d37;
        margin-bottom: 10px;
      }
      .navigation__item {
        display: block;
      }
      .navigation__item_state_active {
        display: block;
        .navigation__link {
        }
      }
    }
  }
  /* navigation end */

}
