@media only screen and (min-width : 320px) and (max-width : 480px) {
  .container {
    width: 98%;
    margin: 0 auto;
  }

  /* content begin*/
  .content {
    width: 100%;
    .content__info {
    }
    .content__footer {
      p {
      }
    }
    .content__data {
    }
    .form__header {
    }
  }
  /* content end */
}
