/*@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/converted-files/2204.eot');
  src: url('../fonts/converted-files/2204.eot?#iefix') format("embedded-opentype"),
  url('../fonts/converted-files/2204.woff2') format("woff2"),
  url('../fonts/converted-files/OpenSans-Bold.svg#OpenSans-Bold') format("svg"),
  url('../fonts/converted-files/OpenSans-Bold.ttf') format("truetype"),
  url('../fonts/converted-files/OpenSans-Bold.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}*/


body {
  background: #101114;
  font-family: 'Open Sans',Helvetica,sans-serif; }

p {
  padding: 0;
  margin: 0;
  font-family: Arial,Helvetica,sans-serif;

}

button {
  outline: none;
}

label {
  font-family: Arial,Helvetica,sans-serif; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Arial,Helvetica,sans-serif; }

td,
th {
  padding: 0; }

.list-unstyled {
  list-style: none; }

.clearfix:after {
  content: "";
  clear: both;
  display: table; }

