/* information table begin */
.info-table {
    margin-top: 17px;
    line-height: 1.7; 
    .info-table__cell {
      width: 161px; 
    }
    .info-table__cell-data {
      color: #535864; 
    }
  }
  /* information table end */